domainschemas/marketingDomain.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:ditaarch="http://dita.oasis-open.org/architecture/2005/">
  <xs:import namespace="http://dita.oasis-open.org/architecture/2005/" schemaLocation="urn:lw:names:dita:xsd:ditaarch.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="urn:lw:names:dita:xsd:xml.xsd"/>
  
  <xs:annotation>
    <xs:appinfo>
      <dita:domainsModule xmlns:dita="http://dita.oasis-open.org/architecture/2005/">(topic marketing-d)</dita:domainsModule>
    </xs:appinfo>
  </xs:annotation>
  
	<xs:group name="marketing-d-xref">
		<xs:choice>
			<xs:element ref="brand"/>
			<xs:element ref="category"/>
			<xs:element ref="company"/>
			<xs:element ref="product"/>
		</xs:choice>
	</xs:group>
  
  <xs:group name="marketing-d-ul">
    <xs:choice>
      <xs:element ref="specifications"/>
      <xs:element ref="features"/>
    </xs:choice>
  </xs:group>
  
  <xs:group name="marketing-d-fig">
    <xs:choice>
      <xs:element ref="highlights"/>
    </xs:choice>
  </xs:group>
	
	<xs:group name="marketing-d-p">
		<xs:choice>
			<xs:element ref="actionitem"/>
		</xs:choice>
	</xs:group>
	
	<xs:group name="brand">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="brand"/>
			</xs:choice>
		</xs:sequence>
	</xs:group>
	
	<xs:group name="category">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="category"/>
			</xs:choice>
		</xs:sequence>
	</xs:group>
	
	<xs:group name="company">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="company"/>
			</xs:choice>
		</xs:sequence>
	</xs:group>
	
	<xs:group name="product">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="product"/>
			</xs:choice>
		</xs:sequence>
	</xs:group>
	
	<xs:group name="actionitem">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="actionitem"/>
			</xs:choice>
		</xs:sequence>
	</xs:group>
  
  <xs:group name="features">
    <xs:sequence>
      <xs:choice>
        <xs:element ref="features"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  
  <xs:group name="featureitem">
    <xs:sequence>
      <xs:choice>
        <xs:element ref="featureitem"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  
  <xs:group name="feature">
    <xs:sequence>
      <xs:choice>
        <xs:element ref="feature"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  
	<xs:group name="highlights">
    <xs:sequence>
      <xs:choice>
      	<xs:element ref="highlights"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  
	<xs:group name="highlight">
    <xs:sequence>
      <xs:choice>
      	<xs:element ref="highlight"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
	
	<xs:group name="specifications">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="specifications"/>
			</xs:choice>
		</xs:sequence>
	</xs:group>
	
	<xs:group name="specificationitem">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="specificationitem"/>
			</xs:choice>
		</xs:sequence>
	</xs:group>
	
	<xs:group name="specification">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="specification"/>
			</xs:choice>
		</xs:sequence>
	</xs:group>
  
  
  <!-- elements -->	
	<xs:element name="brand">
		<xs:complexType mixed="true">
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="common-inline"/>
			<xs:attributeGroup ref="brand-attlist"/>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="brand-attlist">
		<xs:attribute name="href"/>
		<xs:attribute name="format"/>
		<xs:attribute name="scope">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="local"/>
					<xs:enumeration value="peer"/>
					<xs:enumeration value="external"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="localization"/>
		<xs:attributeGroup ref="variable-links"/>
		<xs:attribute name="class" default="- topic/xref marketing-d/brand "/>
	</xs:attributeGroup>
	
	<xs:element name="category">
		<xs:complexType mixed="true">
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="common-inline"/>
			<xs:attributeGroup ref="category-attlist"/>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="category-attlist">
		<xs:attribute name="href"/>
		<xs:attribute name="format"/>
		<xs:attribute name="scope">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="local"/>
					<xs:enumeration value="peer"/>
					<xs:enumeration value="external"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="localization"/>
		<xs:attributeGroup ref="variable-links"/>
		<xs:attribute name="class" default="- topic/xref marketing-d/category "/>
	</xs:attributeGroup>
	
	<xs:element name="company">
		<xs:complexType mixed="true">
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="common-inline"/>
			<xs:attributeGroup ref="company-attlist"/>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="company-attlist">
		<xs:attribute name="href"/>
		<xs:attribute name="format"/>
		<xs:attribute name="scope">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="local"/>
					<xs:enumeration value="peer"/>
					<xs:enumeration value="external"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="localization"/>
		<xs:attributeGroup ref="variable-links"/>
		<xs:attribute name="class" default="- topic/xref marketing-d/company "/>
	</xs:attributeGroup>
	
	<xs:element name="product">
		<xs:complexType mixed="true">
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="common-inline"/>
			<xs:attributeGroup ref="product-attlist"/>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="product-attlist">
		<xs:attribute name="href"/>
		<xs:attribute name="format"/>
		<xs:attribute name="scope">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="local"/>
					<xs:enumeration value="peer"/>
					<xs:enumeration value="external"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="localization"/>
		<xs:attributeGroup ref="variable-links"/>
		<xs:attribute name="class" default="- topic/xref marketing-d/product "/>
	</xs:attributeGroup>
	
	<xs:element name="actionitem">
		<xs:complexType mixed="true">
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="all-inline"/>
			<xs:attributeGroup ref="actionitem-attlist"/>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="actionitem-attlist">
		<xs:attributeGroup ref="localization"/>
		<xs:attributeGroup ref="filters"/>
		<xs:attributeGroup ref="reuse"/>
		<xs:attribute name="class" default="+ topic/p marketing-d/actionitem "/>
	</xs:attributeGroup>
  
  <xs:element name="features">
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="featureitem"/>
      </xs:sequence>
      <xs:attributeGroup ref="features-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="features-attlist">
    <xs:attributeGroup ref="localization"/>
    <xs:attributeGroup ref="filters"/>
    <xs:attributeGroup ref="reuse"/>
    <xs:attribute name="class" default="+ topic/ul marketing-d/features "/>
  </xs:attributeGroup>
  
  <xs:element name="featureitem">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="feature"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="list-blocks"/>
      </xs:sequence>
      <xs:attributeGroup ref="featureitem-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="featureitem-attlist">
    <xs:attributeGroup ref="localization"/>
    <xs:attributeGroup ref="filters"/>
    <xs:attributeGroup ref="reuse"/>
    <xs:attribute name="class" default="+ topic/li marketing-d/featureitem "/>
  </xs:attributeGroup>
  
	<xs:element name="feature">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="all-inline"/>
      <xs:attributeGroup ref="feature-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="feature-attlist">
    <xs:attributeGroup ref="localization"/>
    <xs:attributeGroup ref="filters"/>
    <xs:attributeGroup ref="reuse"/>
    <xs:attribute name="class" default="+ topic/p marketing-d/feature "/>
  </xs:attributeGroup>
  
	<xs:element name="highlights">
    <xs:complexType>
      <xs:sequence>
      	<xs:group minOccurs="0" maxOccurs="unbounded" ref="highlight"/>
      </xs:sequence>
    	<xs:attributeGroup ref="highlights-attlist"/>
    </xs:complexType>
  </xs:element>
	<xs:attributeGroup name="highlights-attlist">
    <xs:attributeGroup ref="display-atts"/>
    <xs:attributeGroup ref="localization"/>
    <xs:attribute name="outputclass"/>
		<xs:attribute name="class" default="+ topic/fig marketing-d/highlights "/>
  </xs:attributeGroup>
  
	<xs:element name="highlight">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="all-inline"/>
    	<xs:attributeGroup ref="highlight-attlist"/>
    </xs:complexType>
  </xs:element>
	<xs:attributeGroup name="highlight-attlist">
    <xs:attributeGroup ref="localization"/>
    <xs:attributeGroup ref="filters"/>
    <xs:attributeGroup ref="reuse"/>
		<xs:attribute name="class" default="+ topic/p marketing-d/highlight "/>
  </xs:attributeGroup>
	
	<xs:element name="specifications">
		<xs:complexType>
			<xs:sequence>
				<xs:group minOccurs="0" maxOccurs="unbounded" ref="specificationitem"/>
			</xs:sequence>
			<xs:attributeGroup ref="specifications-attlist"/>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="specifications-attlist">
		<xs:attributeGroup ref="localization"/>
		<xs:attributeGroup ref="filters"/>
		<xs:attributeGroup ref="reuse"/>
		<xs:attribute name="class" default="+ topic/ul marketing-d/specifications "/>
	</xs:attributeGroup>
	
	<xs:element name="specificationitem">
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="specification"/>
				<xs:group minOccurs="0" maxOccurs="unbounded" ref="list-blocks"/>
			</xs:sequence>
			<xs:attributeGroup ref="specificationitem-attlist"/>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="specificationitem-attlist">
		<xs:attributeGroup ref="localization"/>
		<xs:attributeGroup ref="filters"/>
		<xs:attributeGroup ref="reuse"/>
		<xs:attribute name="class" default="+ topic/li marketing-d/specificationitem "/>
	</xs:attributeGroup>
	
	<xs:element name="specification">
		<xs:complexType mixed="true">
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="all-inline"/>
			<xs:attributeGroup ref="specification-attlist"/>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="specification-attlist">
		<xs:attributeGroup ref="localization"/>
		<xs:attributeGroup ref="filters"/>
		<xs:attributeGroup ref="reuse"/>
		<xs:attribute name="class" default="+ topic/p marketing-d/specification "/>
	</xs:attributeGroup>
  
</xs:schema>
