domainschemas/topic.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!-- PUBLIC DOCUMENT TYPE DEFINITION -->
<!-- TYPICAL INVOCATION -->
<!---->
<!--
  Refer to this file by the following public identifier or an 
        appropriate system identifier 
  PUBLIC "-//OASIS//DTD LW DITA Topic//EN"
        Delivered as file "topic.dtd"
-->
<!--
  The public ID above refers to the latest version of this DTD.
       To refer to this specific version, you may use this value:
  PUBLIC "-//OASIS//DTD LW DITA 1.3 Topic//EN"
-->
<!-- ============================================================= -->
<!-- ADD PHRASE ELEMENTS -->
<!-- ============================================================= -->
<!-- hi-d -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  xmlns:ditaarch="http://dita.oasis-open.org/architecture/2005/">
  <xs:include schemaLocation="urn:lw:names:dita:xsd:highlightDomainMod.xsd"/>
	<xs:include schemaLocation="urn:lw:names:dita:marketing:xsd:linkAttDomain.xsd"/>
	<xs:include schemaLocation="urn:lw:names:dita:marketing:xsd:metadataAttDomain.xsd"/>
	<xs:include schemaLocation="urn:lw:names:dita:marketing:xsd:outputclassAttDomain.xsd"/>
	<xs:include schemaLocation="urn:lw:names:dita:marketing:xsd:quoteAttDomain.xsd"/>
	<xs:include schemaLocation="urn:lw:names:dita:marketing:xsd:otherquoteAttDomain.xsd"/>
	<xs:include schemaLocation="urn:lw:names:dita:marketing:xsd:conrefAttDomain.xsd"/>

  <xs:import namespace="http://dita.oasis-open.org/architecture/2005/" schemaLocation="urn:lw:names:dita:xsd:ditaarch.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="urn:lw:names:dita:xsd:xml.xsd"/>
  
  <xs:redefine schemaLocation="urn:lw:names:dita:xsd:topicMod.xsd">
    
    <xs:group name="ul">
      <xs:choice>
        <xs:group ref="ul"/>
        <xs:group ref="marketing-d-ul"/>
      </xs:choice>
    </xs:group>
    
    <xs:group name="fig">
      <xs:choice>
        <xs:group ref="fig"/>
        <xs:group ref="marketing-d-fig"/>
        <xs:group ref="quote-d-fig"/>
      </xs:choice>
    </xs:group>
  	
  	<xs:group name="p">
  		<xs:choice>
  			<xs:group ref="p"/>
  			<xs:group ref="marketing-d-p"/>
  		</xs:choice>
  	</xs:group>
  	
  	<xs:group name="ph">
  		<xs:choice>
  			<xs:group ref="ph"/>
  			<xs:group ref="quote-d-ph"/>
  			<xs:group ref="inlinemarketing-d-ph"/>
  			<xs:element ref="b"/>
  			<xs:element ref="i"/>
  			<xs:element ref="u"/>
  			<xs:element ref="sup"/>
  			<xs:element ref="sub"/>
  		</xs:choice>
  	</xs:group>
  	
  	<xs:attributeGroup name="localization">
  		<xs:attributeGroup ref="localization"/>
  		<xs:attributeGroup ref="metadataAtt-d-attribute"/>
  	</xs:attributeGroup>
  	
  	<xs:attributeGroup name="topic-attlist">
  		<xs:attributeGroup ref="topic-attlist"/>
  		<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
  	</xs:attributeGroup>
  	
  	<xs:attributeGroup name="title-attlist">
  		<xs:attributeGroup ref="title-attlist"/>
  		<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
  	</xs:attributeGroup>
  	
  	<xs:attributeGroup name="shortdesc-attlist">
  		<xs:attributeGroup ref="shortdesc-attlist"/>
  		<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
  	</xs:attributeGroup>
  	
  	<xs:attributeGroup name="body-attlist">
  		<xs:attributeGroup ref="body-attlist"/>
  		<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
  	</xs:attributeGroup>
  	
  	<xs:attributeGroup name="section-attlist">
  		<xs:attributeGroup ref="section-attlist"/>
  		<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
  	</xs:attributeGroup>
  	
  	<xs:attributeGroup name="p-attlist">
  		<xs:attributeGroup ref="p-attlist"/>
  		<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
  	</xs:attributeGroup>
  	
  	<xs:attributeGroup name="ul-attlist">
  		<xs:attributeGroup ref="ul-attlist"/>
  		<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
  	</xs:attributeGroup>
  	
  	<xs:attributeGroup name="ol-attlist">
  		<xs:attributeGroup ref="ol-attlist"/>
  		<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
  	</xs:attributeGroup>
  	
  	<xs:attributeGroup name="li-attlist">
  		<xs:attributeGroup ref="li-attlist"/>
  		<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
  	</xs:attributeGroup>
  	
  	<xs:attributeGroup name="dl-attlist">
  		<xs:attributeGroup ref="dl-attlist"/>
  		<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
  	</xs:attributeGroup>
  	
  	<xs:attributeGroup name="dlentry-attlist">
  		<xs:attributeGroup ref="dlentry-attlist"/>
  		<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
  	</xs:attributeGroup>
  	
  	<xs:attributeGroup name="dt-attlist">
  		<xs:attributeGroup ref="dt-attlist"/>
  		<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
  	</xs:attributeGroup>
  	
  	<xs:attributeGroup name="dd-attlist">
  		<xs:attributeGroup ref="dd-attlist"/>
  		<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
  	</xs:attributeGroup>
  	
  	<xs:attributeGroup name="pre-attlist">
  		<xs:attributeGroup ref="pre-attlist"/>
  		<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
  	</xs:attributeGroup>
  	
  	<xs:attributeGroup name="simpletable-attlist">
  		<xs:attributeGroup ref="simpletable-attlist"/>
  		<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
  	</xs:attributeGroup>
  	
  	<xs:attributeGroup name="sthead-attlist">
  		<xs:attributeGroup ref="sthead-attlist"/>
  		<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
  	</xs:attributeGroup>
  	
  	<xs:attributeGroup name="strow-attlist">
  		<xs:attributeGroup ref="strow-attlist"/>
  		<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
  	</xs:attributeGroup>
  	
  	<xs:attributeGroup name="stentry-attlist">
  		<xs:attributeGroup ref="stentry-attlist"/>
  		<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
  	</xs:attributeGroup>
  	
  	<xs:attributeGroup name="desc-attlist">
  		<xs:attributeGroup ref="desc-attlist"/>
  		<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
  	</xs:attributeGroup>
  	
  	<xs:attributeGroup name="ph-attlist">
  		<xs:attributeGroup ref="ph-attlist"/>
  		<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
  	</xs:attributeGroup>
  	
  	<xs:attributeGroup name="image-attlist">
  		<xs:attributeGroup ref="image-attlist"/>
  		<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
  	</xs:attributeGroup>
  	
  	<xs:attributeGroup name="alt-attlist">
  		<xs:attributeGroup ref="alt-attlist"/>
  		<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
  	</xs:attributeGroup>
  	
  	<xs:attributeGroup name="xref-attlist">
  		<xs:attributeGroup ref="xref-attlist"/>
  		<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
  	</xs:attributeGroup>
  	
  	<xs:attributeGroup name="fallback-attlist">
  		<xs:attributeGroup ref="fallback-attlist"/>
  		<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
  	</xs:attributeGroup>
    
  </xs:redefine>
	
	<xs:redefine schemaLocation="urn:lw:names:dita:marketing:xsd:inlinemarketingDomain.xsd">
		
		<xs:attributeGroup name="brand-attlist">
			<xs:attributeGroup ref="brand-attlist"/>
			<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
			<xs:attributeGroup ref="linkAtt-d-attribute"/>
			<xs:attributeGroup ref="conrefAtt-d-attribute"/>
		</xs:attributeGroup>
		
		<xs:attributeGroup name="category-attlist">
			<xs:attributeGroup ref="category-attlist"/>
			<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
			<xs:attributeGroup ref="conrefAtt-d-attribute"/>
		</xs:attributeGroup>
		
		<xs:attributeGroup name="company-attlist">
			<xs:attributeGroup ref="company-attlist"/>
			<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
			<xs:attributeGroup ref="conrefAtt-d-attribute"/>
		</xs:attributeGroup>
		
		<xs:attributeGroup name="product-attlist">
			<xs:attributeGroup ref="product-attlist"/>
			<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
			<xs:attributeGroup ref="conrefAtt-d-attribute"/>
		</xs:attributeGroup>
		
	</xs:redefine>
	
	<xs:redefine schemaLocation="urn:lw:names:dita:marketing:xsd:marketingDomain.xsd">
		
		<xs:attributeGroup name="actionitem-attlist">
			<xs:attributeGroup ref="actionitem-attlist"/>
			<xs:attributeGroup ref="linkAtt-d-attribute"/>
			<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
		</xs:attributeGroup>
		
		<xs:attributeGroup name="features-attlist">
			<xs:attributeGroup ref="features-attlist"/>
			<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
		</xs:attributeGroup>
		
		<xs:attributeGroup name="featureitem-attlist">
			<xs:attributeGroup ref="featureitem-attlist"/>
			<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
		</xs:attributeGroup>
		
		<xs:attributeGroup name="feature-attlist">
			<xs:attributeGroup ref="feature-attlist"/>
			<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
		</xs:attributeGroup>
		
		<xs:attributeGroup name="highlight-attlist">
			<xs:attributeGroup ref="highlight-attlist"/>
			<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
		</xs:attributeGroup>
		
		<xs:attributeGroup name="specifications-attlist">
			<xs:attributeGroup ref="specifications-attlist"/>
			<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
		</xs:attributeGroup>
		
		<xs:attributeGroup name="specificationitem-attlist">
			<xs:attributeGroup ref="specificationitem-attlist"/>
			<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
		</xs:attributeGroup>
		
		<xs:attributeGroup name="specification-attlist">
			<xs:attributeGroup ref="specification-attlist"/>
			<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
		</xs:attributeGroup>
		
	</xs:redefine>
	
	<xs:redefine schemaLocation="urn:lw:names:dita:marketing:xsd:quoteDomain.xsd">
		
		<xs:attributeGroup name="quote-attlist">
			<xs:attributeGroup ref="quote-attlist"/>
			<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
		</xs:attributeGroup>
		
		<xs:attributeGroup name="longquotesource-attlist">
			<xs:attributeGroup ref="longquotesource-attlist"/>
			<xs:attributeGroup ref="quoteAtt-d-attribute"/>
			<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
		</xs:attributeGroup>
		
		<xs:attributeGroup name="quotesource-attlist">
			<xs:attributeGroup ref="quotesource-attlist"/>
			<xs:attributeGroup ref="quoteAtt-d-attribute"/>
			<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
		</xs:attributeGroup>
		
		<xs:attributeGroup name="sourcename-attlist">
			<xs:attributeGroup ref="sourcename-attlist"/>
			<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
		</xs:attributeGroup>
		
		<xs:attributeGroup name="sourcerole-attlist">
			<xs:attributeGroup ref="sourcerole-attlist"/>
			<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
		</xs:attributeGroup>
		
		<xs:attributeGroup name="sourcecompany-attlist">
			<xs:attributeGroup ref="sourcecompany-attlist"/>
			<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
		</xs:attributeGroup>
		
		<xs:attributeGroup name="sourcepublication-attlist">
			<xs:attributeGroup ref="sourcepublication-attlist"/>
			<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
		</xs:attributeGroup>
		
		<xs:attributeGroup name="sourceyear-attlist">
			<xs:attributeGroup ref="sourceyear-attlist"/>
			<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
		</xs:attributeGroup>
		
		<xs:attributeGroup name="sourceother-attlist">
			<xs:attributeGroup ref="sourceother-attlist"/>
			<xs:attributeGroup ref="otherquoteAtt-d-attribute"/>
			<xs:attributeGroup ref="outputclassAtt-d-attribute"/>
		</xs:attributeGroup>
		
	</xs:redefine>
  
  
  <!-- ============================================================= -->
  <!-- ADD FILTERING ATTRIBUTES -->
  <!-- ============================================================= -->
  <!--  none -->
  <!--
     ENTITY % filter-adds 
    "ADD-ATTRIBUTE-HERE      CDATA                        #IMPLIED"
  -->
  <!-- ============================================================= -->
  <!-- DECLARE USE OF ELEMENT/ATTRIBUTE DOMAINS -->
  <!-- ============================================================= -->
  <!-- ============================================================= -->
  <!-- REMOVE ATTRIBUTE/ELEMENT GROUPS -->
  <!-- ============================================================= -->
  <!-- Remove a group by uncommenting its redefinition below -->
  <!-- ENTITY % filters " " -->
  <!-- ENTITY % reuse " " -->
  <!-- ENTITY % variable-content " " -->
  <!-- ENTITY % variable-links " " -->
  <!-- ENTITY % localization " " -->
  <!-- ENTITY % nested-blocks "p" -->
  <!--
    For each group removed add a corresponding constraint value to 
    the excluded-domains entity. The constraint name should be "no-"
    followed by the name of the entity removed/constrained. 
    For example, if you removed reuse attributes, add the value 
    "no-reuse-c" to the excluded-domains entity definition
  -->
  <!-- ============================================================= -->
  <!-- INCLUDE TOPIC AND SECTION MODULES -->
  <!-- ============================================================= -->
  <!-- Embed topic module to get generic elements -->
  <!-- Embed section modules -->
  <!-- none -->
  <!-- ============================================================= -->
  <!-- INCLUDE PHRASE MODULES -->
  <!-- ============================================================= -->
</xs:schema>
<!-- ================== End DITA LW Topic DTD  ====================== -->
